<main><app-carousel></app-carousel>
<div class="container pt-5">
  <app-last-content></app-last-content>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 text-white mt-5 features">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">
        API Provided to promote knowledge
      </h3>
      <p class="text-white">
        Evolutive content will be publish in purpose to give users a maximum amount of informations. <br>
        In order to let this api evolve gradually, next versions of this web application will allow some users 
        to add new content.
      </p>
      <a href="https://github.com/MarthL/mementoTattoo" target="_blank" class="btn btn-warning btn-lg mt-5">Become a contributor</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 bg-dark">Manage content</h4>
          <p class="description">
            You'll be able to provide more informations about some tattoos if you want to share your knowledge.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 bg-dark">Create Content</h4>
          <p class="description">
            If you feel inspired, you'll be permit to add new content into the API.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 bg-dark">Contribution</h4>
          <p class="description">
            You can also fork my project and suggest me better code or/and fix if you discover some of them ! 
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 bg-dark">Contact</h4>
          <p class="description">
            If you have any questions according to this project, feel free to get my personnal contact informations into legal mentions page and contact me. I'll try to reply as fast as I can ! 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</main>