<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="sendForm()">
        <div class="form-floating mt-5">    
            <input type="text" class="form-control" id="floatingInput" placeholder="Tattoo name" formControlName="name">
            <label for="floatingInput" class="text-white">Name</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="description" formControlName="description">
            <label for="floatingInput" class="text-white">Description</label>
            <div class="mb-3">
                <label for="formFile" class="text-white">Default file input example</label>
                <input class="form-control bg-none" type="file" id="formFile" (change)="onFileSelected($event)" name="img">
            </div>
            <input type="submit" class="form-control btn btn-primary" id="floatingInput" placeholder="Envoyer">
            <div class="form-control btn btn-danger mt-3" routerLink="/tattoos">Back</div>
        </div>
    </form>
</div>
