<div class="container">
    <form>
        <h1 class="h3 mb-3 fw-bold text-center text-white">Please sign in</h1>

        <div class="form-floating mt-5">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput" class="text-white">Email address</label>
        </div>
        <div class="form-floating mt-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword" class="text-white">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label class="text-white">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>