@import 'app/app.component.scss';
@import '../node_modules/bootstrap-scss/bootstrap.scss';

@font-face {
    font-family: Playfair;
    src: url('./assets/PlayfairDisplay-Italic-VariableFont_wght.ttf') format("truetype");
    src: url('./assets/PlayfairDisplay-VariableFont_wght.ttf') format("truetype");
}



h1 { 
    font-family: Playfair;
}

body { 
    background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}