<div class="row mt-5">
  <div class="col-12">
    <h3 class="text-center text-white font-weight-bold">Last Content</h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
  <div
    *ngFor="let tattoo of tattoos.slice(0, 3); let i = index"
    class="col mt-5"
  >
    <div
      class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      style="background-image: url('{{
        tattoo.img
      }}'); border-radius: 30px; background-position: center center; background-size: contain; font-family: Playfair;"
    >
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3
          class="mb-4 pt-2 pb-2 display-6 lh-1 fw-bold text-white text-center font-weight-bold bg-dark"
        >
          {{ tattoo.name }}
        </h3>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em">
              <use xlink:href="#calendar3"></use>
            </svg>
          </li>
        </ul>
      </div>
      <a
        routerLink="/tattoos/{{ tattoo._id }}"
        class="btn btn-lg btn-primary fw-bold border-white bg-white text-dark"
        >Learn more</a
      >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2 col-xs-6">
    <a routerLink="/tattoos" class="btn btn-lg btn-info fw-bold text-white"
      >See all tattoos</a
    >
  </div>
</div>
